.btn {
  padding: 1.5rem;
  border: 0.1rem solid $blue-color;
  border-radius: 1.6rem;
  cursor: pointer;
  transition: background-color 0.3s;
  &--top {
    width: 8rem;
    background-color: #fff;
    color: $blue-color;
    border: 0.1rem solid $blue-color;
    border-radius: 3rem;
    font-size: 1.4rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
    &:hover {
      background-color: $light-blue-background;
    }
  }
  &--sign-up {
    background-color: $blue-color;
    color: #fff;
    &:hover {
      background-color: $dark-blue-color;
    }
  }
  &--log-in {
    background-color: #fff;
    &:hover {
      background-color: $light-blue-background;
    }
  }
}
