.feeds-content {
  display: grid;
  grid-template-columns: minmax(5rem, 1fr) 60rem 40rem minmax(5rem, 1fr);
  grid-template-rows: repeat(2, min-content);
  padding-top: 6.5rem;

  .feeds-header {
    grid-column: 2 / 3;
    grid-row: 1/ 2;
    background-color: #fff;
    margin-top: 1.5rem;

    &__top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 0.1rem solid $light-grey-border;
      padding: 1.5rem;
      h4 {
        font-size: 2.2rem;
      }
      i {
        font-size: 2rem;
        color: $blue-color;
      }
    }
    &__img-wrapper {
      width: 4rem;
      height: 4rem;
      margin-right: 1.5rem;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
      }
    }
    &__post {
      display: flex;
      align-items: center;
      padding: 1rem;
      border-bottom: 0.1rem solid $light-grey-border;

      input {
        width: 35rem;
        height: 3rem;
        border: 0.1rem solid $darker-grey-border;
        border-radius: 3rem;
        background-color: $light-grey-background;
        padding: 0.4rem 1.5rem;
        transition: all 0.3s;

        &:focus {
          border: 0.1rem solid $blue-color;
          background-color: #fff;
        }
      }
      i {
        font-size: 2.5rem;
        color: $blue-color;
        margin: 1rem 0 1rem 1rem;
      }
      & i:not(& i:last-child) {
        margin-right: 1rem;
      }
    }
  }
}
