.navigation {
  position: fixed;
  width: 100%;
  height: 6.5rem;
  background-color: #fff;
  display: flex;
  justify-content: center;
  box-shadow: 0 0 0.7rem rgba(0, 0, 0, 0.3);

  &__icons {
    display: flex;
    align-items: center;

    & a {
      text-decoration: none;
      margin-right: 7rem;
      font-size: 2.5rem;
      color: #9e9e9e;
    }
    & .active {
      color: $blue-color;
    }
  }
  &__search-bar {
    display: flex;
    align-items: center;
    position: relative;
    .search-bar-input {
      width: 35rem;
      height: 3rem;
      border: 0.1rem solid #d6e1e9;
      border-radius: 3rem;
      background-color: $light-grey-background;
      padding-left: 5rem;
      transition: all 0.3s;
      &:focus {
        background-color: #fff;
        border-color: $blue-color;
      }
    }
    i {
      position: absolute;
      font-size: 1.6rem;
      left: 1.5rem;
      color: #9e9a9a;
    }
  }
  &__user {
    margin-left: 3rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    & i {
      color: #444;
      font-size: 1.6rem;
    }
  }
  &__user-link {
    margin: 0 1rem;
    text-decoration: none;
    font-size: 1.8rem;
    color: #444;
  }

  &__user-img-wrapper {
    width: 4rem;
    height: 4rem;
    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%;
    }
  }
}
.navigation--top {
  background-color: #fff;
  padding: 2.5rem 0;
  box-shadow: 0 0 0.7rem rgba(0, 0, 0, 0.3);

  &__list {
    width: 100rem;
    margin: auto;
    display: flex;
    align-items: flex-end;
    list-style: none;

    &__items {
      position: relative;

      &:last-child {
        margin-left: auto;
      }

      &:after {
        content: '';
        width: 100%;
        height: 0.4rem;
        background-color: $blue-color;
        position: absolute;
        bottom: -2.5rem;
        left: 0;
        opacity: 0;
        transition: opacity 0.3s;
      }
      &:hover a {
        color: $blue-color;
      }
      &:hover::after {
        opacity: 1;
      }
      a {
        font-size: 1.6rem;
        text-decoration: none;
        color: #555;
        transition: color 0.3s;
      }
      i {
        color: $blue-color;
        font-size: 2rem;
      }
    }
  }
}

.navigation--bottom {
  display: flex;
  justify-content: center;
  list-style: none;
  &__items {
    font-size: 1.6rem;
    margin: 0 2rem;
    text-decoration: none;
    color: #444;
    font-weight: lighter;
  }
}
